<main class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
    <section>
        <h2>{{ 'generatori' | translate }}</h2>
        @if (generatori().length === 0) {
        <p>Nessun generatore disponibile.</p>
        }
        <div class="row">
            @for (item of generatori(); track item.pageType) {
            <app-content-card class="col-12 col-md-2 col-lg-3"
                              [title]="item.title"
                              [subtitle]="item.subtitle"
                              [imageId]="item.imageId"
                              [pageType]="item.pageType" />
            }
        </div>
    </section>

    <section>
        <h2>{{ 'giochi' | translate }}</h2>
        <div class="row">
            @for (item of giochi(); track item.pageType) {
            <app-content-card class="col-12 col-md-2 col-lg-3"
                              [title]="item.title"
                              [subtitle]="item.subtitle"
                              [imageId]="item.imageId"
                              [pageType]="item.pageType" />
            }
        </div>
    </section>
</main>
