<footer class="container-fluid mt-3 theme-bg site-footer small">
    <div class="container py-4">
        <app-loading [loading]="identityLoading()">
            <app-identity-render [identity]="identity()" [showSocial]="true" />
        </app-loading>

        <app-footer-nav [links]="footerNavLinks" />

        <div class="row pt-3">
            <div class="col text-center">
                <p class="small mb-1">
                    &copy; {{ currentYear }} <strong>{{ appName }}</strong> |
                    {{ 'dirittiRiservatiAzienda' | translate }}
                </p>
                @if (description()) {
                <p class="small italic">{{ description() }}</p>
                }
            </div>
        </div>

    </div>
</footer>
